<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div id="<%= dom_id club %>" class="card-body">
    <h5 class="card-title"><%= link_to club.name, club_path(club) %></h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

    <% Slot.available_slots(club, @selected_day, @duration).pluck(:time, :price).uniq.sort.each do |slot| %>
      <%= link_to slot[0].strftime("%H:%M"), new_club_event_path(club, starts_at: slot[0], duration: @duration, selected_day: params[:selected_day] ),
                  class: "btn btn-sm btn-outline-primary" %>
    <% end %>

  </div>
  <div class="card-footer text-muted">
    2 km away
  </div>
</div>

