<div id="<%= dom_id event %>">
  <p>
    <strong>Club:</strong>
    <%= event.club_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>


  <p>
    <strong>Phone:</strong>
    <%= event.phone %>
  </p>

</div>
