<h1>Editing event</h1>

<%= render "form", event: @event %>

<br>

<div>
  <%= link_to "Show this event", club_event_path(@club, @event) %> |
  <%= link_to "Back to events", club_events_path(@club) %>
</div>
