<p style="color: green"><%= notice %></p>

<h1>Events</h1>

<div id="events">
  <% @events.each do |event| %>
    <%= render event %>
    <p>
      <%= link_to "Show this event", club_event_path(@club, event) %>
    </p>
  <% end %>
</div>

<%= link_to "New event", new_club_event_path(@club) %>
