<p style="color: green"><%= notice %></p>

ciao
<%# render @event %>

<!--<div>-->
<!--  <%#= link_to "Edit this event", edit_club_event_path(@club, @event) %> |-->
  <%#= link_to "Back to events", club_events_path(@club) %>

  <%#= button_to "Destroy this event", @event, method: :delete %>
<!--</div>-->
