<div class="fw-bold mb-1">Free price</div>
<div class="d-flex align-items-center" style="gap: 12px;">
  <div class="pr-2">
    <input class="form-control no-input-arrows" style="width:65px;" type="number" list="datalistOptions" id="price" placeholder="400">
  </div>
  <div>
    <button type="button px-4" class="btn btn-primary plus-btn" data-controller="hello" data-action="click->hello#setPrice">Set in calendar</button>
  </div>
</div>
