<div class="fw-bold mb-1">Tournaments</div>
<% @tournaments.each do |tournament| %>
  <button type="button" id="newTournament" class="btn btn-outline-success ml-3 tour-train-btn" data-bs-toggle="modal" data-bs-target="#<%= dom_id(tournament) %>" data-bs-whatever="tournament">
    < <%= tournament.rating %>
  </button>

  <%= render 'tournaments/edit_form', tournament:tournament  %>
<% end %>

<button type="button" id="newTournament" class="btn btn-success menu-margin" data-bs-toggle="modal" data-bs-target="#tournamentModal" data-bs-whatever="tournament">+</button>

<%= render 'tournaments/form_modal'  %>