<div class="fw-bold mb-1">Trainings</div>
<% @trainings.each do |training| %>
  <button type="button" id="newTournament" class="btn btn-outline-warning tour-train-btn" data-bs-toggle="modal" data-bs-target="#<%= dom_id(training) %>" data-bs-whatever="tournament">
    <%= training.trainer %>
  </button>

  <%= render 'trainings/edit_form', training: training %>
<% end %>

<button type="button" id="newTraining" class="btn btn-warning menu-margin" data-bs-toggle="modal" data-bs-target="#trainingModal" data-bs-whatever="group training">+</button>

<%= render 'trainings/form_modal'  %>


