<div class="navbar fixed-top  bg-light row row-cols-12 shadow p-3 mb-5 bg-body rounded">
  <div class="col-1 text-center">
    <%= link_to(timecells_path( selected_day: @selected_day.to_date.prev_week ), class: "link-secondary link-date", remote:true) do %>
      <i class='bi bi-arrow-left-square' width="60" height="60"></i>
    <% end %>
  </div>
  <% @days.each do |day| %>
    <div class="col text-center">
      <%= link_to(day.strftime('%A'), timecells_path(selected_day: day),
                  class: (day == @selected_day ? "link-success fw-bold link-date" : "link-secondary link-date"),
                  remote:true) %>
      <br>
      <%= link_to(day.strftime('%d %b'), timecells_path(selected_day: day),
                  class: (day == @selected_day ? "link-success fw-bold link-date" : "link-secondary link-date"),
                  remote:true) %>
    </div>
  <% end %>
  <div class="col-1 text-center">
    <%= link_to(timecells_path(selected_day: @selected_day.to_date.next_week ), class: "link-secondary link-date", remote:true) do %>
      <i class='bi bi-arrow-right-square'></i>
    <% end %>
  </div>
</div>