<div class="row">
  <div class="col-5">
    <label for="formFile" class="form-label">Select tournament or group training</label>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

      <div class="btn-group me-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-outline-primary" value="<%= {value: 83, kind: "tournament", tournament_rating: 400 }.to_json %>" data-controller="hello" data-action="click->hello#selectKind"
                data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">< 400</button>
      </div>
      <div class="btn-group me-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-outline-primary" value="<%= {value: 77, kind: "tournament", tournament_rating: 435 }.to_json %>" data-controller="hello" data-action="click->hello#selectKind"
                data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"
        >< 435</button>
      </div>
      <div class="btn-group me-2" role="group" aria-label="Second group"  >
        <button type="button" class="btn btn-outline-primary" value="<%= {value: 1, kind: "group_training"}.to_json %>" data-controller="hello" data-action="click->hello#selectKind"
                data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"
        >Training</button>
      </div>
      <div class="btn-group me-2" role="group" aria-label="Second group"  >
        <button type="button" class="btn btn-outline-info" value="<%= {value: 2, kind: "group_training"}.to_json %>" data-controller="hello" data-action="click->hello#selectKind"
                data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"
        >Training</button>
      </div>

    </div>
    <br>
    <div class="collapse" id="collapseExample">
      <div id="eventAdditionalInfo" class="card card-body">
      </div>
    </div>

  </div>
  <div class="col-2">
    <label for="formFile" class="form-label">Set price</label>
    <input class="form-control" type="number" list="datalistOptions" id="price" placeholder="400" value="345" data-controller="hello" data-action="input->hello#setPrice">
  </div>

  <div class="col-4">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#tournamentModal" data-bs-whatever="tournament">New tournament</button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#trainingModal" data-bs-whatever="group training">New training</button>
  </div>

  <div class="col-1 d-none">
    <label for="formFile" class="form-label">Your click will set</label>
    <input class="form-control" list="datalistOptions" id="params_to_send" placeholder="400" value="400" >
  </div>
</div>