<div class="zoom pointer <%= timecell.define_color %>"  id="<%= timecell.id %>" data-controller="hello" data-action="click->hello#handleClick" >
  <%= timecell.display_value %>
</div>

<!--mouseover->hello#presetValue-->